<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-12 col-lg-12 col-md-12 col-sm-12">

          <h3>Tabela contendo o último dado pego dos sensores.</h3><br>
          <table style="width:100%">
            <tr>
              <th>Estação</th>
              <th>Plantação</th>
              <th>Estado da Bomba</th>
              <th>Umidade</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Couve</td>
              <td>{{station_1.irrigation}}</td>
              <td>{{station_1.humidity}}</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Rúcula</td>
              <td>{{station_2.irrigation}}</td>
              <td>{{station_2.humidity}}</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Alface</td>
              <td>{{station_3.irrigation}}</td>
              <td>{{station_3.humidity}}</td>
            </tr>
          </table>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>