<div class="row">
  <div class="col-md-12 col-lg-12">
    <nb-card size="large">
      <nb-tabset>
        <nb-tab tabTitle="Alface" >
          <div class= "col-md-12 col-lg-12">
              <h4 class="subtitle">Cultura</h4>
            <p>A alface é uma das culturas mais populares, plantada e consumida em todo o território brasileiro. Os vários cultivares desta hortaliça adaptam-se bem à nossa diversidade de clima.</p>
            <p>Tal como outras culturas folhosas, é caracterizada por um sistema radicular superficial que exige um rigoroso controle de irrigação.
            O manejo da umidade ao longo do período de crescimento é um fator crítico para a boa produção com qualidade. Mesmo em períodos relativamente curtos de umidade inadequada, pode afetar a cultura.</p>           
            <p>Rendimentos de alface podem chegar a até 50-70 toneladas por hectare, dependendo da variedade, número de ciclos de plantio e condições do solo.
            A duração do ciclo plantio/colheita em solo é de 60-90 dias no outono e no verão 21 a 30 dias.</p>
          </div>
          <div class= "col-md-12 col-lg-12" align="center">
            <img src="../../../assets/images/alface001.jpg"/>
          </div>
          <div class= "col-md-12 col-lg-12">
            <h4 class="subtitle">Clima</h4>
            <p>A alface é uma cultura típica de clima temperado, com temperaturas de 13 a 16 °C.</p>            
            <p>Durante a germinação, são exigidas temperaturas de 7-24 °C. Dias curtos são ideais para cultivo de alface. Dias de mais de 12 horas de duração causam florescimento do alface.</p>         
            <p>Os cultivares desenvolvidos para as nossas condições de verão apresentam-se com qualidade inferior, com cabeças menos compactas e menos folhas.</p> 
            <h4 class="subtitle">Solo</h4>
            <p>O solo neutro (pH-7) ou solo levemente ácido é preferível. Bons rendimentos comerciais podem ser alcançados em condições de solo pesados.
              A alface é sensível ao frio e à salinidade. Água com condutividade elétrica  (CE) de 1,3 dS/m ou menos deve ser usada para irrigação. Acima deste valor haverá redução na produtividade, sem contudo a alface demonstrar sintomas.</p>
          </div>
          <div class= "col-md-12 col-lg-12">
            <h4 class="subtitle">Irrigação de alface e folhas verdes</h4>
            <p>O objetivo da irrigação é evitar estresse hídrico, especialmente durante a formação da cabeça.</p>
            <p>Estresse hídrico pode ocorrer em uma cultura quando a umidade do solo é excessiva ou quando é deficiente. Quando níveis de concentração de oxigênio na atmosfera do solo são reduzidas devido ao encharcamento por um longo período de tempo, o sistema de raízes pode ser severamente danificado. Alface e plantas de folhas verdes são especialmente suscetíveis ao estresse hídrico devido aos seus sistemas radiculares rasos.</p>
            <p>– Baixo rendimento e produtos de má qualidade (em termos de firmeza, tamanho da cabeça e cor).</p>
            <p>– Apodrecimento das raízes</p>
            <p>Escassez de água gera atraso na colheita, qualidade inferior, bem como reduz a produtividade. No entanto irrigação em  excesso, especialmente no final do ciclo, pode reduzir a qualidade e a vida de prateleira (pós-colheita).</p>
            <p>A irrigação irregular ou excedente, acima da quantidade necessária para substituir a evapotranspiração, causa lixiviação de nutrientes, especialmente o nitrogênio, levando-o abaixo da zona  radicular.</p>
            <p>O uso eficiente da água, ou seja, bom manejo da irrigação, alta uniformidade de aplicação de água e baixa taxa de precipitação (no caso de aspersão), irão ajudar a evitar condições de estresse e compactação do solo.</p>
            <p>A irrigação por gotejamento é uma técnica bastante viável, pois apesar de maior custo inicial, tem a vantagem de possibilitar o fracionamento dos fertilizantes aplicados com a água de irrigação, possibilita o controle mais efetivo do volume de rega, baixo consumo de energia e de mão de obra de operação e rega diária, mantendo sempre o solo em condições ideais de água.</p>
            <p>Um fator de extrema importância na irrigação da alface é a qualidade da água. A condutividade elétrica do extrato saturado do solo, que mostra o teor de salinidade dele, deve ser inferior a 0,2 dS/m. A cada valor unitário de aumento da condutividade a partir de 0,2 dS/m, proporciona redução de 17% na produção comercial de alface, com formação de cabeças pequenas e mal formadas (fonte: EFEITO DA SALINIDADE DA ÁGUA DE IRRIGAÇÃO NA PRODUÇÃO DA ALFACE AMERICANA –E. S. Gervásio, J. A. Carvalho & M. J.  Santana). A irrigação por gotejamento, que mantém a umidade do solo bastante próxima à capacidade de campo, beneficia a redução da salinidade deste.</p>
          </div>

          <div class="col-md-12 col-lg-12">
              <h4 class="subtitle">Programa de irrigação</h4>
            <p>Para evitar estresse hídrico, fazer irrigação com limite de déficit de água de 20-30%. Usando-se tensiômetros, reiniciar a irrigação quando marcarem 10-25 centibars, de acordo com o tipo de solo.</p>
            <p>Caso contrário, irrigar a cada 1-3 dias, na época de inverno.</p>
            <p>Com temperaturas elevadas é preferível pulso de irrigação, a fim de preservar a umidade adequada.</p>
            <p>Cálculo de necessidade de água:</p>
            <p>Necessidade de água diária = (ETP local x Kc x Cobertura Foliar)/Eficiência de rega.</p>
            <p>Kc (coeficiente da cultura) = Varia de 0,25 – 0,90, dependendo do estágio de desenvolvimento da alface.</p>
            <p>Cobertura foliar = Área coberta pela cultura/área total .</p>
            <p>Eficiência de rega = gotejamento de 0,9 a 0,95 e aspersão 0,6 a 0,7.</p>
          </div>
          </nb-tab>
        <nb-tab tabTitle="Couve">
            <div class= "col-md-12 col-lg-12">
              <h4 class="subtitle">Cultura</h4>
              <p>A couve-manteiga, de folhas verde-claras, lisas e arredondadas, é a variedade mais comum no mercado nacional. </p>
              <p>Há cultivares de couve que toleram temperaturas altas, mas a preferência é pelo clima ameno ou frio, que permite plantio durante o ano inteiro. O desenvolvimento da hortaliça se dá melhor em locais com alta luminosidade, inclusive com incidência direta dos raios solares, porém, com sombreamento parcial.</p>
              <div class= "col-md-12 col-lg-12" align="center">
                  <img src="../../../assets/images/couve_como_plantar.jpg" />
              </div>
              <h4 class="subtitle">Propagação</h4>
              <p>Por meio de sementes, a semeadura pode ser em sementeira ou em outro recipiente, com uso de substratos comerciais à base de casca de pínus ou terra peneirada. Use de duas a três sementes por célula a uma profundidade de cerca de 0,5 centímetro. Regue todos os dias. No desbaste, deixe uma planta após a germinação. Se a propagação for por mudas, use os rebentos que surgem de gemas axilares no caule principal de plantas adultas. Com 20 centímetros ou mais, retire-os principalmente da lateral da base da planta, enraizando-os nas mesmas condições e com iguais insumos utilizados nas sementes.</p>
              <p>Quando as mudas das sementeiras atingirem de quatro a seis folhas e, pelo menos, 10 centímetros de altura. Indica-se fazer o procedimento no fim da tarde ou em dias nublados e chuvosos. Em seguida, irrigue o solo.</p>
              <h4 class="subtitle">Plantio</h4>
              <p>Sem que o solo fique encharcado, para evitar danos às raízes e o surgimento de doenças, mantenha-o sempre úmido. Por isso, o ideal é que o solo seja bem drenado, além de fértil, com boa disponibilidade de matéria orgânica e pH entre 6 e 7,5.</p>
              <h4 class="subtitle">Adubação</h4>
              <p>O solo do canteiro deve ser bem preparado. Incorpore de 2 a 5 quilos por metro quadrado de esterco bovino curtido e adição de fertilizante químico tipo NPK, de acordo com a análise de solo.</p>
              <h4 class="subtitle">Espaçamento</h4>
              <p>São necessários 15 centímetros para a couve crescer em um vaso de, no mínimo, 25 centímetros de diâmetro. No canteiro, calcule de acordo com a variedade e as condições de cultivo. Porém, em geral, o espaçamento é de 80 centímetros a 1 metro entre linhas e de 50 centímetros entre plantas.</p>
              <h4 class="subtitle">Produção</h4>
              <p>Varia de acordo com a propagação, mas produzem entre 4 e 5 quilos de folhas por ano por planta – cerca de 125 mil maços de 400 gramas por hectare em áreas comerciais. Mudas plantadas diretamente no canteiro têm folhas prontas em, aproximadamente, 50 dias. Já a couve oriunda de sementes somente após cerca de 90 dias. Faça a colheita de folhas com 20 a 40 centímetros de comprimento e de 20 a 25 centímetros de largura. </p>
              <h4 class="subtitle">Resumo</h4>
              <p>Solo: úmido, mas bem drenado, com pH entre 6 e 7,5</p>
              <p>Clima: ameno ou frio Área mínima: pode ser cultivada, inclusive, em vasos</p>
              <p>Colheita: cerca de 50 dias após o plantio de mudas e de 90 dias depois da semeadura</p>
            </div>
        </nb-tab>
        <nb-tab tabTitle="Cenoura">
          <div class="col-md-12 col-lg-12">
            <h4 class="subtitle">Cultura</h4>
            <p>A cenoura é uma das hortaliças mais populares do mundo. As cultivares mais comuns têm raízes primárias de cor laranja, mas há também cenouras roxas, amarelas, vermelhas e brancas. Quanto à forma, as cenouras podem ser cilíndricas, cônicas ou arredondadas. Além das raízes primárias, que são consumidas cruas ou são utilizadas em muitos tipos de receitas culinárias, as folhas também podem ser consumidas, embora seu consumo seja menos comum, pois têm um forte sabor.</p>
            <p>Provavelmente originária do Irã e do Afeganistão, a cenoura foi primeiramente cultivada por suas folhas aromáticas e suas sementes, posteriormente surgindo as cultivares com raízes mais grossas e menos fibrosas. As cenouras cultivadas mais de mil anos atrás eram roxas ou amarelas, as cenouras de cor laranja surgiram apenas na Holanda durante o século XVII e são as mais conhecidas e as mais cultivadas atualmente.</p>
            <p>A raiz da cenoura selvagem (Daucus carota) também pode ser consumida, mas a raiz é fina e apenas as raízes das plantas mais jovens são palatáveis, pois logo se tornam lenhosas.</p>
            <div class= "col-md-12 col-lg-12" align="center">
                <img src="../../../assets/images/cenoura0001.jpg" />
            </div>
            <h4 class="subtitle">Clima</h4>
            <p>A cenoura cresce melhor com temperaturas entre 16°C e 22°C, embora existam cultivares adaptadas a temperaturas um pouco mais altas. A temperatura mínima para o plantio deve ser de 7°C, contudo plantas bem desenvolvidas podem suportar baixas temperaturas, pois as raízes sobrevivem mesmo quando a folhagem morre, e assim as plantas rebrotam quando a temperatura volta a aumentar na primavera. Por outro lado, temperaturas acima de 30°C podem prejudicar o crescimento das plantas e o sabor das raízes.</p>
            <h4 class="subtitle">Luminosidade</h4>
            <p>A cenoura cresce melhor em condições de alta luminosidade, com sol direto, mas tolera crescer na sombra parcial desde que a luminosidade seja boa.</p>
            <h4 class="subtitle">Solo</h4>
            <p>A cenoura precisa ser cultivada em um solo sem pedras e outros detritos ou as raízes poderão crescer tortas e ramificadas. O ideal é que o solo seja profundo, leve, rico em matéria orgânica, fértil, bem drenado e com pH entre 6,0 e 7,5. O solo não precisa ser particularmente rico em nitrogênio. Solos argilosos pesados também podem produzir colheitas razoáveis, desde que não estejam compactados e não fiquem encharcados durante o período de cultivo.</p>
            <h4 class="subtitle">Irrigação</h4>
            <p>Irrigue quando necessário para manter o solo levemente úmido. Esta planta necessita de uma boa disponibilidade de água, mas o solo não deve permanecer encharcado, pois o excesso de água pode favorecer o apodrecimento das raízes ou o surgimento de doenças.</p>
            <h4 class="subtitle">Plantio</h4>
            <p>As sementes devem ser semeadas diretamente na horta, pois a cenoura geralmente não suporta bem o transplante. A profundidade de plantio pode ser de 0,5 cm a 1 cm. A germinação geralmente ocorre entre uma e três semanas.</p>
            <p>O espaçamento recomendado varia conforme a cultivar e as condições de cultivo, porém a maioria das cultivares com raízes cilíndricas ou cônicas podem ser cultivadas com um espaçamento de 15 a 30 cm entre as linhas de plantio e 5 a 10 cm entre as plantas. Para as cultivares com raízes arredondadas o espaçamento entre as linhas de plantio pode ser de 15 a 30 cm, com 5 cm entre as plantas.</p>
            <p>Muitas cultivares de cenoura podem ser cultivadas em vasos e jardineiras. As cultivares com raízes arredondadas são as mais adequadas, mas cultivares com outros formatos também podem ser cultivadas em vasos e jardineiras, desde que estes tenham uma altura superior ao tamanho médio da raiz da cultivar que será plantada. O solo no recipiente deve ter uma profundidade pelo menos 5 cm maior que o tamanho médio da cenoura que será colhida.</p>
            <h4 class="subtitle">Cenoura</h4>
            <p>O início da colheita depende da variedade cultivada de cenoura, e pode ocorrer entre 60 e 120 dias quando o cultivo ocorre em condições ideais. Não atrase muito a colheita, pois as raízes vão se tornando fibrosas e ficam com um sabor menos agradável. Para conseguir cenouras frescas continuamente, plante cenouras a cada duas ou três semanas.</p>
            <p>As folhas mais jovens têm melhor sabor. As folhas podem ser colhidas quando necessário em plantas já bem desenvolvidas, mas a colheita excessiva de folhas pode prejudicar o crescimento da raiz.</p>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>

  
</div>
