<nb-card size="small">

  <!--

  <nb-card-header>

    Patrocinadores

  </nb-card-header>-->

  <nb-card-body>

    <!--

    <div class="row">

      <div class="column1">

        <img src="../../../../assets/logos/finep.jpg" alt="Finep" style="width:100%">

      </div>



      <div class="column2">

        <img src="../../../../assets/logos/ministerio.png" alt="Ministerio" style="width:100%">

      </div>



      <div class="column3">

        <img src="../../../../assets/logos/funttel.jpg" alt="Funttel" style="width:100%">

      </div>

    </div>

    -->

    <img src="../../../../assets/logos/parceiros.png" alt="Parceiros" style="width:100%">

  </nb-card-body>



</nb-card>