<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h2 class="title">Contato</h2>
          <br>
          <p>Agora que você já está por dentro do projeto, se quiser entrar em contato conosco, basta nos enviar um e-mail.</p>
          <p>O endereço para contato é: <strong>alberti@inatel.br</strong></p>
          <p>Pelo e-mail você pode tirar dúvidas sobre o projeto, requerer informações mais detalhadas sobre o funcionamento, enviar dicas e sugestões de aprimoramento do projeto.</p>
          <p>Fique a vontade para nos contatar. Teremos o maior prazer em respondê-lo!</p>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>